$primary-font: 'Roboto', sans-serif;
$primary-color: #ff3c53;
$light-primary: #ff7686;
$text: #4a5056;

h1.title 
{
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

.content
{
	width: 95%;
	padding: 50px 0px;
}

.graph-wrapper
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.graph
	{
		position: relative;
		width: 210px;
		border-radius: 10px;
		padding: 5px 30px;
		margin: 5px;
		cursor: pointer;
		background: rgba(0,0,0,.02);
		border: 2px solid transparent;
		transition: .5s ease;

		p 
		{
			font-size: 1em;
			text-align: center;
		}

		img 
		{
			width: 100%;
		}

		.x-label,.y-label
		{
			font-size: .7em;
			text-align: center;
		}

		.y-label
		{
			transform-origin: 0px 0px; 
			transform: rotate(90deg) translate(-90%,50%);
		} 

		.hide-label
		{
			visibility: hidden;
		}
	}

	.graph:hover
	{
		background: rgba(0,0,0,.05);
	}

	.confusion-matrix
	{
		img 
		{
			transform: scale(1.2) !important;
		}
	}
}

table
{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 10px;
	overflow:hidden;
	transition: .5s ease;

	th,td 
	{
		padding: 10px;
		border-left: 1px solid rgba(0,0,0,.1);
		border-right: 1px solid rgba(0,0,0,.1);
		text-align: center;
		font-size: .8em;
	}

	th 
	{
		background: rgba(255,255,255,.6);
		font-weight: 600;
		//text-transform: uppercase;
	}

	td:nth-child(even)
	{
		background: rgba(255,255,255,.1);
	}

	tr:nth-child(even)
	{
		background: rgba(0,0,0,.02);
	}

	tr 
	{
		transition: .5s ease;
		cursor: pointer;
		border-bottom: 2px solid transparent;
	}

	tr:hover
	{
		background: rgba(0,0,0,.1);
	}

	tr.active-row
	{
		background: rgba(0,0,0,.1);
		border-bottom: 2px solid $primary-color;
	}
}

.button-wrap
{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

button
{
	background: $primary-color;
	padding: 15px 20px;
	border-radius: 5px;
	font-weight: 400;
	color: #FFF;
	border: 0px;
	outline: none;
	width: 200px;
	font-size: 1em;
	margin: 0px auto;
	transition: .5s ease;
	cursor: pointer;

	.fas 
	{
		margin-right: 5px;
	}
}

button:hover
{
	background: $light-primary;
}