<header>
	<div class="logo" routerLink="/">
		<img src="assets/img/logo.png">
	</div>
	<div class="links-wrapper">
		<a routerLink="./models" routerLinkActive="active-tab"><i class="fas fa-drafting-compass"></i> Models</a>
		<!--<a routerLink="./target" routerLinkActive="active-tab"><i class="fas fa-sliders-h"></i> Targetting</a>-->
		<a routerLink="./evaluate" routerLinkActive="active-tab"><i class="fas fa-clipboard-check"></i> Evaluation</a>
		<a routerLink="./orders" routerLinkActive="active-tab"><i class="fas fa-shopping-cart"></i> Orders</a>
		<a routerLink="./support" routerLinkActive="active-tab"><i class="fas fa-question-circle"></i> Support</a>
	</div>
</header>
